<h1>New Scenario</h1>

<%= form_with model: @scenario, local: true do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, rows: 3 %>
  </p>

  <p>
    <%= f.submit "Create Scenario" %>
  </p>
<% end %>

<p>
  <%= link_to "Back", scenarios_path %>
</p>

